/** @format */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: aquamarine;
}

.sub-cont {
  width: 80%;
}

.logo {
  background: url("https://media.discordapp.net/attachments/910429443493863434/912953762958680074/Coin_blck_1.png");
  width: 100%;
}
